/* CUSTOM EDITOR CSS ------------------------------------------------------------------------------------------------ */

/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Alignment
 * 4.0 - Forms
 * 5.0 - Elements
 * 6.0 - Caption
 * 7.0 - Clearfix
 * 8.0 - Rows / Columns
 * 8.0 - RTL
 */

/**
 * 1.0 Body
 */
body.mce-content-body {
	color: #333;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 1.733em;
	margin: 0;
	padding: 10px 30px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: auto;
}
body.mce-content-body.content.post-type-post {
	max-width: 960px;
}
body.mce-content-body.content.post-type-post:before {
	content: "";
	display: block;
	position: fixed;
	background: #fbfbfb;
	left: 960px;
	right: 0;
	top: 0;
	bottom: 0;
	border-left: 1px solid #e5e5e5;
	z-index: 1;
}
html[dir="rtl"] body.mce-content-body.content.post-type-post:before {
	content: "";
	display: block;
	position: fixed;
	background: #fbfbfb;
	right: 960px;
	left: 0;
	top: 0;
	bottom: 0;
	border-left: 1px solid #e5e5e5;
	z-index: 1;
}
body.mceContentBody.content.post-type-post:after {
	content: 'SIDEBAR';
	color: #b5b8bc;
	position: fixed;
	left: 980px;
	top: 15px;
	font-size: 14px;
	line-height: 1.8em;
	display: block;
	width: 10px;
	z-index: 5;
	text-align: center;
}
html[dir="rtl"] body.mceContentBody.content.post-type-post:after {
	content: 'SIDEBAR';
	color: #b5b8bc;
	position: fixed;
	right: 980px;
	top: 15px;
	font-size: 14px;
	line-height: 1.8em;
	display: block;
	width: 10px;
	z-index: 5;
	text-align: center;
}
body.mceContentBody.post-type-our-video:after,
body.mceContentBody.post-type-page:after {
	display: none !important;
}

/**
 * 2.0 Typography
 */
a {
	color: #d4000e;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #212121;
	outline: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
	color: #1D1F20;
}
h1 {
	font-size: 32px;
	line-height: 40px;
	margin-top: 33px;
	margin-bottom: 23px;
}
h2 {
	font-size: 27px;
	line-height: 38px;
	margin-top: 30px;
	margin-bottom: 20px;
}
h3 {
	font-size: 22px;
	line-height: 30px;
	margin-top: 27px;
	margin-bottom: 17px;
}
h4 {
	font-size: 19px;
	line-height: 29px;
	margin-top: 24px;
	margin-bottom: 14px;
}
h5 {
	font-size: 17px;
	line-height: 25px;
	margin-top: 21px;
	margin-bottom: 11px;
}
h6 {
	font-size: 16px;
	line-height: 24px;
	margin-top: 21px;
	margin-bottom: 11px;
}
pre {
	color: #7b7b7b;
	font-size: 12px;
	line-height: 18px;
	background: #fafafa;
	border: 1px solid #eee;
	padding: 0.5em 1em;
	white-space: pre-wrap;
	word-wrap: break-word;
}
small {
	font-size: 80%;
}
dt {
	font-weight: 600;
}
dd {
	margin-bottom: 1.25em;
}
em, cite {
	font-style: italic;
}
cite {
	font-size: 13px;
	/* ovveride bootstrap */
  font-style: italic;
	font-weight: normal;
	text-transform: none;
	color: #000;
}
ins {
	background: #fcf8e3;
}
sub, sup {
	font-size: 62.5%;
}
sub {
	vertical-align: sub;
	bottom: 0;
}
sup {
	vertical-align: super;
	top: 0.25em;
}
/**
 * 3.0 Alignment
 */
.alignnone {
	margin: 5px 20px 1.25em 0;
}
.aligncenter, div.aligncenter {
	text-align: center;
	display: block;
	margin: 5px auto 1.25em auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.alignright {
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
/**
 * 4.0 Forms
 */
textarea {
	font-size: 12px;
	line-height: 21px;
	color: #444;
	border: 1px solid #e1e1e1;
	width: 100%;
	max-width: 100%;
	height: 168px;
	min-height: 168px;
	padding: 6px 9px 6px 9px;/* responsive portrait phone */
}
@media (max-width: 767px) {
textarea {
	font-size: 16px;
}
}
textarea:active, textarea:focus {
	border-color: #b0b0b0 !important;
}
textarea:focus, input:focus, input[type]:focus {
	outline: 0 none;
}
/* Input buttons */
input[type=submit] {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	background-color: #222222;
	border-radius: 0;
	color: #fff;
	border: none;
	padding: 8px 15px;
	font-weight: 500;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
}
input[type=submit]:hover {
	background-color: #4db2ec;
}
input[type=text], input[type=url], input[type=tel], input[type=email] {
	font-size: 12px;
	line-height: 21px;
	color: #444;
	border: 1px solid #e1e1e1;
	width: 100%;
	max-width: 100%;
	height: 34px;
	padding: 3px 9px;
}
@media (max-width: 767px) {
input[type=text],  input[type=url],  input[type=tel],  input[type=email] {
	font-size: 16px;
}
}
input[type=text]:active, input[type=url]:active, input[type=tel]:active, input[type=email]:active, input[type=text]:focus, input[type=url]:focus, input[type=tel]:focus, input[type=email]:focus {
	border-color: #b0b0b0 !important;
}
input[type=password] {
	width: 100%;
	position: relative;
	top: 0;
	display: inline-table;
	vertical-align: middle;
	font-size: 12px;
	line-height: 21px;
	color: #444;
	border: 1px solid #ccc;
	max-width: 100%;
	height: 34px;
	padding: 3px 9px;
	margin-bottom: 10px;/* responsive portrait phone */
}
@media (max-width: 767px) {
input[type=password] {
	font-size: 16px;
}
}
/* Screen reader text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
/**
 * 5.0 Elements
 */

/* Button */
input[type="submit"], .btn, .button {
	border: none;
	background: #f70d28;
	color: #fff;
	padding: 0 20px;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	outline: 0;
	-webkit-appearance: none;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.btn {
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	text-shadow: 0px 1px rgba(0, 0, 0, 0.12);
}
.btn.btn-info {
	background-color: #2e9fff;
}
.btn.btn-primary {
	background-color: #ebe9eb;
	color: #515151;
	text-shadow: none;
	box-shadow: none;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
	background-color: #e0e0e0
}
.btn.btn-success {
	background-color: #00a652
}
.btn.btn-success:hover, .btn.btn-success:focus {
	background-color: #00984b
}
.btn.btn-info {
	background-color: #2e9fff
}
.btn.btn-info:hover, .btn.btn-info:focus {
	background-color: #2a92ea
}
.btn.btn-warning {
	background-color: #f9c203;
}
.btn.btn-warning:hover, .btn.btn-warning:focus {
	background-color: #e4b203
}
.btn.btn-danger {
	background-color: #f95403;
}
.btn.btn-danger:hover, .btn.btn-danger:focus {
	background-color: #e44d03
}
/* Article */
.article-image {
	margin: 23px 0;
}
/* Blockquote */
blockquote {
	display: block;
	color: #7b7b7b;
	font-style: italic;
	line-height: 24px;
	padding-left: 1em;
	border-left: 4px solid #eee;
	margin: 0 0 1.25em;
}
/* Table */
.mce-item-table, .mce-item-table td, .mce-item-table th, .mce-item-table caption {
	border: 1px dotted #e0e0e0;
}
table {
	width: 100%;
	margin: 1em 0 30px;
	line-height: normal;
	color: #7b7b7b;
	border-collapse: collapse;
}
tr {
	border-bottom: 1px solid #e5e5e5;
}
tbody tr:hover {
	color: #53585c;
	background: #f7f7f7;
}
thead tr {
	border-bottom: 2px solid #e5e5e5;
}
th, td {
	font-size: 0.85em;
	padding: 8px 20px;
	text-align: left;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
th {
	color: #53585c;
	font-weight: bold;
	vertical-align: middle;
}
tbody tr:last-child, th:first-child, td:first-child, th:last-child, td:last-child {
	border: 0;
}
/**
 * 6.0 Caption
 */
.wp-caption {
	background: transparent;
	border: none;
	color: #707070;
	font-family: "Noto Sans", sans-serif;
	margin: 0 0 28px 0;
	max-width: 100%;
	padding: 0;
	text-align: inherit;
}
.wp-caption.alignleft {
	margin: 7px 28px 21px 0;
}
.wp-caption.alignright {
	margin: 7px 0 21px 28px;
}
.wp-caption.aligncenter {
	margin: 7px auto;
}
.wp-caption .wp-caption-text, .wp-caption-dd {
	font-size: 14px;
	line-height: 1.5;
	padding: 7px 0;
}
.intro-text > p {
	font-size: 1.5em;
	line-height: 1.458em;
	color: #212121;
	letter-spacing: -0.01em;
}
.highlight {
	padding: 0 0.2em;
	border-radius: 2px;
	background: #000;
	color: #fff;
}
.pullquote {
	color: #212121;
	font-size: 1.3em;
	line-height: 1.45em;
	border: none;
	padding: 0;
	position: relative;
	text-align: center;
}
.pullquote:before, .pullquote:after {
	content: '';
	display: block;
	width: 50px;
	height: 1px;
	background: #e0e0e0;
	margin: 1em auto;
}
.pullquote.align-left {
	clear: left;
	float: left;
	max-width: 35%;
	margin: 0.4em 1.2em 0.4em 0;
}
.pullquote.align-right {
	clear: right;
	float: right;
	max-width: 35%;
	margin: 0.4em 0 0.4em 1.2em;
}
.alert {
	color: #666;
	padding: 8px 16px;
	margin: 1em 0;
	font-size: 14px;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
/**
 * 7.0 Clearfix
 */
.clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
	content: " "; /* 1 */
	display: table; /* 2 */
	line-height: 0;
	font-size: 0;
}
.clearfix:after, .container:after, .row:after {
	clear: both;
}
/* For IE 6/7 only */
.clearfix, .container, .row {
 *zoom: 1;
}
/**
 * 8.0 Rows / Columns
 */
.row {
	margin-right: -15px;
	margin-left: -15px;
	border: 1px dotted #e0e0e0;
	margin-bottom: 15px;
}
.row > div:last-child {
	border-right: none
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	border-right: 1px dotted #e0e0e0;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666667%;
}
.col-xs-10 {
	width: 83.33333333%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666667%;
}
.col-xs-7 {
	width: 58.33333333%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666667%;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.66666667%;
}
.col-xs-1 {
	width: 8.33333333%;
}
.col-xs-pull-12 {
	right: 100%;
}
.col-xs-pull-11 {
	right: 91.66666667%;
}
.col-xs-pull-10 {
	right: 83.33333333%;
}
.col-xs-pull-9 {
	right: 75%;
}
.col-xs-pull-8 {
	right: 66.66666667%;
}
.col-xs-pull-7 {
	right: 58.33333333%;
}
.col-xs-pull-6 {
	right: 50%;
}
.col-xs-pull-5 {
	right: 41.66666667%;
}
.col-xs-pull-4 {
	right: 33.33333333%;
}
.col-xs-pull-3 {
	right: 25%;
}
.col-xs-pull-2 {
	right: 16.66666667%;
}
.col-xs-pull-1 {
	right: 8.33333333%;
}
.col-xs-pull-0 {
	right: auto;
}
.col-xs-push-12 {
	left: 100%;
}
.col-xs-push-11 {
	left: 91.66666667%;
}
.col-xs-push-10 {
	left: 83.33333333%;
}
.col-xs-push-9 {
	left: 75%;
}
.col-xs-push-8 {
	left: 66.66666667%;
}
.col-xs-push-7 {
	left: 58.33333333%;
}
.col-xs-push-6 {
	left: 50%;
}
.col-xs-push-5 {
	left: 41.66666667%;
}
.col-xs-push-4 {
	left: 33.33333333%;
}
.col-xs-push-3 {
	left: 25%;
}
.col-xs-push-2 {
	left: 16.66666667%;
}
.col-xs-push-1 {
	left: 8.33333333%;
}
.col-xs-push-0 {
	left: auto;
}
.col-xs-offset-12 {
	margin-left: 100%;
}
.col-xs-offset-11 {
	margin-left: 91.66666667%;
}
.col-xs-offset-10 {
	margin-left: 83.33333333%;
}
.col-xs-offset-9 {
	margin-left: 75%;
}
.col-xs-offset-8 {
	margin-left: 66.66666667%;
}
.col-xs-offset-7 {
	margin-left: 58.33333333%;
}
.col-xs-offset-6 {
	margin-left: 50%;
}
.col-xs-offset-5 {
	margin-left: 41.66666667%;
}
.col-xs-offset-4 {
	margin-left: 33.33333333%;
}
.col-xs-offset-3 {
	margin-left: 25%;
}
.col-xs-offset-2 {
	margin-left: 16.66666667%;
}
.col-xs-offset-1 {
	margin-left: 8.33333333%;
}
.col-xs-offset-0 {
	margin-left: 0;
}

/*@media (min-width: 768px) {*/
@media (min-width: 767px) {
.col-sm-1,  .col-sm-2,  .col-sm-3,  .col-sm-4,  .col-sm-5,  .col-sm-6,  .col-sm-7,  .col-sm-8,  .col-sm-9,  .col-sm-10,  .col-sm-11,  .col-sm-12 {
	float: left;
}
.col-sm-12 {
	width: 100%;
}
.col-sm-11 {
	width: 91.66666667%;
}
.col-sm-10 {
	width: 83.33333333%;
}
.col-sm-9 {
	width: 75%;
}
.col-sm-8 {
	width: 66.66666667%;
}
.col-sm-7 {
	width: 58.33333333%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-5 {
	width: 41.66666667%;
}
.col-sm-4 {
	width: 33.33333333%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-2 {
	width: 16.66666667%;
}
.col-sm-1 {
	width: 8.33333333%;
}
.col-sm-pull-12 {
	right: 100%;
}
.col-sm-pull-11 {
	right: 91.66666667%;
}
.col-sm-pull-10 {
	right: 83.33333333%;
}
.col-sm-pull-9 {
	right: 75%;
}
.col-sm-pull-8 {
	right: 66.66666667%;
}
.col-sm-pull-7 {
	right: 58.33333333%;
}
.col-sm-pull-6 {
	right: 50%;
}
.col-sm-pull-5 {
	right: 41.66666667%;
}
.col-sm-pull-4 {
	right: 33.33333333%;
}
.col-sm-pull-3 {
	right: 25%;
}
.col-sm-pull-2 {
	right: 16.66666667%;
}
.col-sm-pull-1 {
	right: 8.33333333%;
}
.col-sm-pull-0 {
	right: auto;
}
.col-sm-push-12 {
	left: 100%;
}
.col-sm-push-11 {
	left: 91.66666667%;
}
.col-sm-push-10 {
	left: 83.33333333%;
}
.col-sm-push-9 {
	left: 75%;
}
.col-sm-push-8 {
	left: 66.66666667%;
}
.col-sm-push-7 {
	left: 58.33333333%;
}
.col-sm-push-6 {
	left: 50%;
}
.col-sm-push-5 {
	left: 41.66666667%;
}
.col-sm-push-4 {
	left: 33.33333333%;
}
.col-sm-push-3 {
	left: 25%;
}
.col-sm-push-2 {
	left: 16.66666667%;
}
.col-sm-push-1 {
	left: 8.33333333%;
}
.col-sm-push-0 {
	left: auto;
}
.col-sm-offset-12 {
	margin-left: 100%;
}
.col-sm-offset-11 {
	margin-left: 91.66666667%;
}
.col-sm-offset-10 {
	margin-left: 83.33333333%;
}
.col-sm-offset-9 {
	margin-left: 75%;
}
.col-sm-offset-8 {
	margin-left: 66.66666667%;
}
.col-sm-offset-7 {
	margin-left: 58.33333333%;
}
.col-sm-offset-6 {
	margin-left: 50%;
}
.col-sm-offset-5 {
	margin-left: 41.66666667%;
}
.col-sm-offset-4 {
	margin-left: 33.33333333%;
}
.col-sm-offset-3 {
	margin-left: 25%;
}
.col-sm-offset-2 {
	margin-left: 16.66666667%;
}
.col-sm-offset-1 {
	margin-left: 8.33333333%;
}
.col-sm-offset-0 {
	margin-left: 0;
}
}
 @media (min-width: 992px) {
.col-md-1,  .col-md-2,  .col-md-3,  .col-md-4,  .col-md-5,  .col-md-6,  .col-md-7,  .col-md-8,  .col-md-9,  .col-md-10,  .col-md-11,  .col-md-12 {
	float: left;
}
.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66666667%;
}
.col-md-10 {
	width: 83.33333333%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66666667%;
}
.col-md-7 {
	width: 58.33333333%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66666667%;
}
.col-md-4 {
	width: 33.33333333%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.66666667%;
}
.col-md-1 {
	width: 8.33333333%;
}
.col-md-pull-12 {
	right: 100%;
}
.col-md-pull-11 {
	right: 91.66666667%;
}
.col-md-pull-10 {
	right: 83.33333333%;
}
.col-md-pull-9 {
	right: 75%;
}
.col-md-pull-8 {
	right: 66.66666667%;
}
.col-md-pull-7 {
	right: 58.33333333%;
}
.col-md-pull-6 {
	right: 50%;
}
.col-md-pull-5 {
	right: 41.66666667%;
}
.col-md-pull-4 {
	right: 33.33333333%;
}
.col-md-pull-3 {
	right: 25%;
}
.col-md-pull-2 {
	right: 16.66666667%;
}
.col-md-pull-1 {
	right: 8.33333333%;
}
.col-md-pull-0 {
	right: auto;
}
.col-md-push-12 {
	left: 100%;
}
.col-md-push-11 {
	left: 91.66666667%;
}
.col-md-push-10 {
	left: 83.33333333%;
}
.col-md-push-9 {
	left: 75%;
}
.col-md-push-8 {
	left: 66.66666667%;
}
.col-md-push-7 {
	left: 58.33333333%;
}
.col-md-push-6 {
	left: 50%;
}
.col-md-push-5 {
	left: 41.66666667%;
}
.col-md-push-4 {
	left: 33.33333333%;
}
.col-md-push-3 {
	left: 25%;
}
.col-md-push-2 {
	left: 16.66666667%;
}
.col-md-push-1 {
	left: 8.33333333%;
}
.col-md-push-0 {
	left: auto;
}
.col-md-offset-12 {
	margin-left: 100%;
}
.col-md-offset-11 {
	margin-left: 91.66666667%;
}
.col-md-offset-10 {
	margin-left: 83.33333333%;
}
.col-md-offset-9 {
	margin-left: 75%;
}
.col-md-offset-8 {
	margin-left: 66.66666667%;
}
.col-md-offset-7 {
	margin-left: 58.33333333%;
}
.col-md-offset-6 {
	margin-left: 50%;
}
.col-md-offset-5 {
	margin-left: 41.66666667%;
}
.col-md-offset-4 {
	margin-left: 33.33333333%;
}
.col-md-offset-3 {
	margin-left: 25%;
}
.col-md-offset-2 {
	margin-left: 16.66666667%;
}
.col-md-offset-1 {
	margin-left: 8.33333333%;
}
.col-md-offset-0 {
	margin-left: 0;
}
}
@media (min-width: 1200px) {
.col-lg-1,  .col-lg-2,  .col-lg-3,  .col-lg-4,  .col-lg-5,  .col-lg-6,  .col-lg-7,  .col-lg-8,  .col-lg-9,  .col-lg-10,  .col-lg-11,  .col-lg-12 {
	float: left;
}
.col-lg-12 {
	width: 100%;
}
.col-lg-11 {
	width: 91.66666667%;
}
.col-lg-10 {
	width: 83.33333333%;
}
.col-lg-9 {
	width: 75%;
}
.col-lg-8 {
	width: 66.66666667%;
}
.col-lg-7 {
	width: 58.33333333%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-5 {
	width: 41.66666667%;
}
.col-lg-4 {
	width: 33.33333333%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-2 {
	width: 16.66666667%;
}
.col-lg-1 {
	width: 8.33333333%;
}
.col-lg-pull-12 {
	right: 100%;
}
.col-lg-pull-11 {
	right: 91.66666667%;
}
.col-lg-pull-10 {
	right: 83.33333333%;
}
.col-lg-pull-9 {
	right: 75%;
}
.col-lg-pull-8 {
	right: 66.66666667%;
}
.col-lg-pull-7 {
	right: 58.33333333%;
}
.col-lg-pull-6 {
	right: 50%;
}
.col-lg-pull-5 {
	right: 41.66666667%;
}
.col-lg-pull-4 {
	right: 33.33333333%;
}
.col-lg-pull-3 {
	right: 25%;
}
.col-lg-pull-2 {
	right: 16.66666667%;
}
.col-lg-pull-1 {
	right: 8.33333333%;
}
.col-lg-pull-0 {
	right: auto;
}
.col-lg-push-12 {
	left: 100%;
}
.col-lg-push-11 {
	left: 91.66666667%;
}
.col-lg-push-10 {
	left: 83.33333333%;
}
.col-lg-push-9 {
	left: 75%;
}
.col-lg-push-8 {
	left: 66.66666667%;
}
.col-lg-push-7 {
	left: 58.33333333%;
}
.col-lg-push-6 {
	left: 50%;
}
.col-lg-push-5 {
	left: 41.66666667%;
}
.col-lg-push-4 {
	left: 33.33333333%;
}
.col-lg-push-3 {
	left: 25%;
}
.col-lg-push-2 {
	left: 16.66666667%;
}
.col-lg-push-1 {
	left: 8.33333333%;
}
.col-lg-push-0 {
	left: auto;
}
.col-lg-offset-12 {
	margin-left: 100%;
}
.col-lg-offset-11 {
	margin-left: 91.66666667%;
}
.col-lg-offset-10 {
	margin-left: 83.33333333%;
}
.col-lg-offset-9 {
	margin-left: 75%;
}
.col-lg-offset-8 {
	margin-left: 66.66666667%;
}
.col-lg-offset-7 {
	margin-left: 58.33333333%;
}
.col-lg-offset-6 {
	margin-left: 50%;
}
.col-lg-offset-5 {
	margin-left: 41.66666667%;
}
.col-lg-offset-4 {
	margin-left: 33.33333333%;
}
.col-lg-offset-3 {
	margin-left: 25%;
}
.col-lg-offset-2 {
	margin-left: 16.66666667%;
}
.col-lg-offset-1 {
	margin-left: 8.33333333%;
}
.col-lg-offset-0 {
	margin-left: 0;
}
}
