/* Control - Section */
li.customize-control-section {
	padding: 0 !important;
	border: none !important;
}
li.customize-control-section .customize-section-description,
li.customize-control-section .customize-control-title {
	height: 50px;
	line-height: 50px;
}
li.customize-control-section .customize-section-description {
	padding: 0 10px;
	background-color: #dbdfe3;
	border: 1px solid #c4c8cc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
li.customize-control-section .customize-section-description .customize-control-title {
    font-size: 14px !important;
    font-weight: bold;
}