.abh_box {
    clear: both !important;
    position: relative !important;
    width: 100% !important;
    padding: 25px 0 !important
}

.abh_tabs {
    list-style: none !important;
    width: 100% !important;
    padding: 5px 0 1px 0 !important;
    margin: 0 0 0 0 !important;
    font: 13px arial !important;
    border-bottom: 1px solid #ccc !important
}

.abh_tabs li {
    list-style: none !important;
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important
}

.abh_tabs li:after {
    content: "" !important;
    padding: 0 !important;
    margin: 0 !important
}

.abh_tabs li:before {
    content: "" !important;
    padding: 0 !important;
    margin: 0 !important
}

.abh_tabs li i {
    display: none
}

.abh_tabs li a {
    color: #333 !important;
    background-color: transparent !important;
    border: 0 solid #ccc !important;
    padding: 4px 10px 5px !important;
    text-decoration: none !important;
    border-bottom: none !important;
    outline: none !important;
    font-size: 100% !important;
    line-height: 23px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tabs li a:hover {
    background-color: #dddddd !important;
    padding: 4px 10px 5px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tabs li.abh_active a {
    color: #333 !important;
    background-color: #eeeeee !important;
    border-bottom: 1px solid #fff !important;
    padding: 4px 10px 5px 10px !important;
    border-bottom: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tabs li.abh_active a:hover {
    background-color: #eeeeee !important;
    padding: 4px 10px 5px 10px !important;
    border-bottom: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tabs li a.icon_accept {
}

.abh_tabs li a.icon_accept:hover {
    padding-left: 24px !important
}

.abh_tabs_content_container {
    border: 2px solid #ccc !important;
    border-top: none !important;
    padding: 10px !important;
    width: 400px !important
}

.abh_tab_content {
    padding: 20px 12px !important;
    min-height: 80px !important;
    overflow: hidden !important;
    border-bottom: 1px solid #ccc !important
}

.abh_tab_content .abh_tab {
    display: none
}

.abh_tab_content .abh_image {
    display: block;
    float: left !important;
    width: 80px !important;
    margin-top: 10px !important
}

.abh_tab_content .abh_image img {
    max-width: 80px !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden !important;
    -webkit-border-radius: 50% 50% 50% 50% !important;
    -moz-border-radius: 50% 50% 50% 50% !important;
    border-radius: 50% 50% 50% 50% !important;
}

.abh_tab_content .abh_image a{
    border: none !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: none !important;
}

.abh_tab_content .abh_text {
    margin-left: 96px !important;
    font-size: 100% !important;
    line-height: 1.5 !important
}

.abh_tab_content .abh_text h3, .abh_tab_content .abh_text h4 {
    font-size: 20px !important;
    padding: 0 !important;
    margin: 0 !important;
    clear: none !important;
    font-weight: bold !important;
    text-align: left !important;
    line-height: 20px !important
}

.abh_tab_content .abh_text .fn {
    text-transform: capitalize !important;
    clear: none !important;
    font-size: 18px !important;
    line-height: 24px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important
}

.abh_tab_content .abh_text a {
    font-size: 100% !important;
    text-decoration: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tab_content .abh_text .abh_job {
    line-height: 20px !important;
    font-size: 100% !important
}

.abh_tab_content .abh_text .abh_job span {
    vertical-align: top !important;
    font-size: 13px !important;
    background-image: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.abh_tab_content .abh_text .abh_description {
    position: static !important;
    padding-top: 6px !important;
    font-size: 14px !important;
    width: 100% !important
}

.abh_tab_content .abh_text .abh_allposts {
    font-size: 11px !important;
    vertical-align: middle !important
}

.abh_tab_content .abh_text ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 5px 0 0 15px !important
}

.abh_tab_content .abh_text ul li, .abh_tab_content .abh_text ul li span {
    font-size: 13px !important;
    line-height: 20px !important;
    margin: 0 !important
}

.abh_tab_content .abh_social {
    display: block;
    float: right !important;
    line-height: 1px !important;
    padding: 0 !important;
    margin: 3px 0 0 0 !important;
    text-align: right !important
}

.abh_tab_content .abh_social div {
    width: 140px !important;
    margin: 0 0 0 auto !important
}

.abh_tab_content .abh_social a {
    display: inline-block;
    background: transparent url('../img/sprite.png') no-repeat !important;
    width: 24px !important;
    height: 24px !important;
    margin: 1px !important;
    padding: 0 !important;
    opacity: .5 !important;
    transition: opacity .2s !important;
    text-decoration: none !important;
    -moz-transition: opacity .2s !important;
    -webkit-transition: opacity .2s !important;
    -o-transition: opacity .2s !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tab_content .abh_social a:hover {
    opacity: 1 !important
}

.abh_tab_content .abh_social a.abh_facebook {
    background-position: 0 0 !important
}

.abh_tab_content .abh_social a.abh_flickr {
    background-position: -24px 0 !important
}

.abh_tab_content .abh_social a.abh_google {
    background-position: -48px 0 !important
}

.abh_tab_content .abh_social a.abh_instagram {
    background-position: -72px 0 !important
}

.abh_tab_content .abh_social a.abh_linkedin {
    background-position: -96px 0 !important
}

.abh_tab_content .abh_social a.abh_pinterest {
    background-position: -120px 0 !important
}

.abh_tab_content .abh_social a.abh_tumblr {
    background-position: -144px 0 !important
}

.abh_tab_content .abh_social a.abh_twitter {
    background-position: -168px 0 !important
}

.abh_tab_content .abh_social a.abh_vimeo {
    background-position: -192px 0 !important
}

.abh_tab_content .abh_social a.abh_youtube {
    background-position: -216px 0 !important
}

.abh_box .vcard {
    background: none !important;
    font-size: 100% !important;
    border: none !important
}

.abh_box .abh_pwb a {
    position: absolute !important;
    text-decoration: none !important;
    font-size: 9px !important;
    color: #999 !important;
    right: 0 !important;
    bottom: 5px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
