.Total_Soft_Poll_Main_Div *, .Total_Soft_Poll_1_Main_Ans_Div_Fix * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.Total_Soft_Poll_Main_Div {position: relative; width: 100%; float: left; margin: 20px auto !important; padding: 0px 8px; box-sizing: border-box; z-index: 9; }
.Total_Soft_Poll_Main_Div button:focus { outline: none !important; }